@use './variables.scss';

.container {
  position: relative;
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  margin: 24px;
  border-radius: 10px;
  background-color: #fff;
  padding: 24px;
  grid-gap: 16px;

  .contentArea {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .upVoteButton {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
  }

  .commentsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    grid-row-start: 2;
    grid-column-start: 3;
    img {
      margin-right: 8px;
    }
  }

  .statusContainer {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .title {
      font-size: 13px;
      color: variables.$success-light;
      margin-left: 8px;
    }
    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }

  .cardTopline {
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 10px 10px 0 0 ;
  }
}

.capitalize {
  text-transform: capitalize;
}