@use './variables.scss';

.container {
  position: relative;
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  margin: 24px;
  border-radius: 10px;
  background-color: #fff;
  padding: 24px;
  grid-gap: 16px;
  @media screen and (min-width: 768px) {
    grid-template-columns: .12fr 1fr .15fr;
  }

  @media screen and (min-width: 1080px) {
    width: calc(100% - 48px);
  }

  .contentArea {
    grid-column-start: 1;
    grid-column-end: 3;
    @media screen and (min-width: 768px) {
      grid-column-start: 2;
    grid-column-end: 3;
    }
  }

  .upVoteButton {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    @media screen and (min-width: 768px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    }
  }

  .commentsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    grid-row-start: 2;
    grid-column-start: 3;
    img {
      margin-right: 8px;
    }
    @media screen and (min-width: 768px) {
      grid-row-start: 1;
      grid-column-start: 4;
    }
  }

  .statusContainer {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .title {
      font-size: 13px;
      color: variables.$success-light;
      margin-left: 8px;
    }
    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }

  .cardTopline {
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 10px 10px 0 0 ;
  }
}

.capitalize {
  text-transform: capitalize;
}

.desktopView {
  width: calc(100% - 56px);
}

.desktopView .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  margin: 8px 8px 24px 0px;
  height: 251px;
  .contentArea {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .upVoteButton {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
  }

  .commentsContainer {
    grid-row-start: 2;
    grid-column-start: 3;
  }
}