html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
  background-color: #F7F8FD;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.topIcon {
  position: absolute;
  top: -26px;
  left: 25px;
}

@media screen and (min-width: 768px) {
  .addCommentContainer {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 0 15px;
  }

  .createFeedbackContainer {
    max-width: 540px;
    margin: 56px auto 24px auto;
  }

  .submitButtonsContainer {
    flex-direction: row-reverse;
  }

  .submitButtonsContainer .submitButton {
    width: 144px;
    min-width: 144px;
  }

  .submitButtonsContainer .cancelButton {
    width: 93px;
    min-width: 93px;
  }
}
