.container, .filterContainer {
  background-color: #fff;
  border-radius: 10px;
  max-width: 223px;
  padding: 24px;
  margin: 26px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    max-width: 100%;
  }
  @media screen and (min-width: 1080px) {
    height: 166px;
  }
}

.filterContainer {
  flex-direction: row;
  @media screen and (min-width: 1080px) {
    height: 166px;
  }
}

.roadmapList {
  display: grid;
  grid-template-columns: .15fr 1fr .3fr;
  align-items: center;
  width: 100%;
  gap: 8px;
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}