.topBarContainer {
  position: relative;
  @media screen and (min-width: 768px) {
    border-radius: 10px;
    margin: 32px;
  }
  .primaryButton {
    position: absolute;
    top: 50%; 
    right: 24px; 
    transform: translateY(-50%);
  }
}