.container {
  display: flex;
  flex-direction: row;
  height: 178px;
  margin: 24px 24px 48px 24px;
  width: calc(100% - 48px) !important;

  @media screen and (min-width: 1080px) {
    position: sticky;
    top: 24px;
    flex-direction: column !important;
    height: 100%;
    width: 255px !important;
    margin: 24px 0px 48px 24px;
  }

  .mainSection {
    position: relative;
    flex: 1;
    height: 178px;
    background-image: url('/assets/suggestions/tablet/background-header.png');
    background-size: 100%;
    background-position: 100% 100%;
    border-radius: 10px;

    @media screen and (min-width: 1080px) {
      height: 137px;
    }

    .mainTitle {
      position: absolute;
      bottom: 48px;
      left: 24px;
    }

    .subtitle {
      position: absolute;
      bottom: 24px;
      left: 24px;
      color: #ddd;
      font-weight: 300 !important;
    }
  }
}